<div class="card {{this.cardSize}}" id="{{id}}">
    <div class="card__heading">
        <div class="card__heading-text-container">
            {{#if this.units}}
                <span class="card__headline-text font-h2-medium">{{this.cardHeadline}} {{this.units}}</span>
            {{else}}
                <span class="card__headline-text font-h2-medium">{{this.cardHeadline}}</span>
            {{/if}}
            {{#if this.cardSubhead}}
                <span class="card__subhead-text font-base-text">{{this.cardSubhead}}</span>
            {{/if}}
        </div>
        {{#if this.cardStatus}}
            <div class="card__status {{this.cardStatus}}"></div>
        {{/if}}
    </div>
    <div class="card__content">
        {{{content}}}
    </div>
</div>
