{{{balance}}}
{{{plannedBudget}}}
{{{actualBudget}}}
<div class="dashboard__chart-wrapper" id="pie-conusmed-budget-wrapper">
    {{{pieConsumedBudget}}}
</div>
<div class="dashboard__chart-wrapper" id="pie-cost-by-category-wrapper">
    {{{pieCostsByCategory}}}
</div>
<div class="dashboard__chart-wrapper" id="bar-cost-by-month">
    {{{barCostsByMonth}}}
</div>