{{{balance}}}
{{{plannedBudget}}}
{{{actualBudget}}}
<div class="dashboard__pie-wrapper" id="pie-conusmed-budget-wrapper">
    {{{pieConsumedBudget}}}
</div>
<div class="dashboard__pie-wrapper" id="pie-cost-by-category-wrapper">
    {{{pieCostsByCategory}}}
</div>
{{{barCostsByMonth}}}