{{{balance}}}
{{{plannedBudget}}}
{{{actualBudget}}}
<div class="dashboard__pie-wrapper">
    {{{pieConsumedBudget}}}
</div>
<div class="dashboard__pie-wrapper">
    {{{pieCostsByCategory}}}
</div>
{{{barCostsByMonth}}}