<div class="category" id="{{id}}">
    <div class="category__card" id="{{cardId}}">
        <div class="category__icon">
            {{{icon}}}
        </div>
        <div class="category__text">
            <h4 class="font-h4-medium">{{categoryName}}</h4>
        </div>
        <div class="category__settings">
            <span class="category__delete" id="{{deleteId}}">Удалить</span>
        </div>
    </div>
    {{#if settingsOpen}}
        <div class="settings">
            {{{input}}}
                <div>
                    {{{button}}}
                </div>
        </div>
    {{/if}}
</div>
