<div class="input__container">
    {{#if this.inputLabelText}}
        <div class="input__label font-caption">{{this.inputLabelText}}</div>
    {{/if}}

    {{#if this.inputImageLeft}}
        <img
                class="input__icon input__icon-left"
                src="{{this.inputImageLeft}}"
                alt="left icon">
    {{/if}}

    <input {{#if id}} id="{{id}}" {{/if}}
                      type="{{typeOfInput}}"
        {{#if autocompleteOff}}
                      autocomplete="off"
        {{/if}}
                      name="{{nameOfField}}"
                      placeholder="{{this.inputPlaceholder}}"
                      class="input font-caption
                {{this.inputSize}}
                          {{this.inputRadiusSize}}
                          {{#if this.isError}}
                    input_error
                {{/if}}
                          {{#if this.inputImageLeft}}
                    input__text-left
                {{/if}}"
    >

    {{#if units}}
        <span class="input__units font-caption">
            {{units}}
        </span>
    {{/if}}

    {{#if this.inputImageRight}}
        {{#unless this.inputImageLeft}}
            <img
                    class="input__icon input__icon-right"
                    src="{{this.inputImageRight}}"
                    alt="right icon"
            >
        {{/unless}}
    {{/if}}
</div>
{{#if this.inputHelperText}}
    <div class="input__helper font-caption
            {{#if this.isError}}
                input__helper_error
            {{/if}}">
        {{this.inputHelperText}}
    </div>
{{/if}}
