<div class="transactions">
    <h3 class="font-h3-regular"> Новая транзакция</h3>
    <div class="transactions__create-container">
        <div class="transactions__inputs">
            <div class="transactions__filter-column">
                {{{sumInput}}}
                {{{payer}}}
                {{{tagInput}}}
            </div>
            <div class="transactions__filter-column">
                <div>
                    <span class="font-caption">Конец периода</span>
                    {{{date}}}
                </div>
                {{{place}}}
                {{{description}}}
                {{{accountInput}}}
            </div>
        </div>
        <div class="transactions__create-button">
            {{{button}}}
        </div>
    </div>
    <div class="transactions__name-with-button">
        <h3 class="font-h3-regular"> Транзакции</h3>
        <div>
            {{{filterButton}}}
        </div>
    </div>
    {{# if filterOpen}}
        <div class="transactions__filter-container">
            <div class="transactions__filter-column">
                <div>
                    <span class="font-caption">Начало периода</span>
                    {{{startDate}}}
                </div>
                {{{tagFilter}}}
                <div class="transactions__filter-checkboxes">
                    {{{incomeFilter}}}
                    {{{outcomeFilter}}}
                </div>
            </div>
            <div class="transactions__filter-column">
                <div>
                    <span class="font-caption">Конец периода</span>
                    {{{endDate}}}
                </div>
                {{{accountFilter}}}
                <div>
                    {{{submitFilter}}}
                </div>
            </div>
        </div>
    {{/if}}

    <div class="transactions__list">
        {{#each transactionsList}}
            {{{transaction}}}
        {{/each}}
    </div>
</div>
