{{#each this.menuSections}}
    <span class="menu__header font-caption">
        {{this.menuSectionHeading}}
    </span>
    <ul class="menu__list font-caption">
        {{#each this.menuItems}}
            <li class="menu__item menu__item_color" id="{{this.menuItemID}}">
                {{#if this.menuItemIcon}}
                    <img class="menu__item-icon" src="{{this.menuItemIcon}}" alt="{{this.menuItemAlt}}">
                {{/if}}
                <span class="menu__item-text">
                    {{this.menuItemText}}
                </span>
            </li>
        {{/each}}
    </ul>
{{/each}}
