<div class="profile">
    <div class="profile__cards-container">
        {{{planCard}}}
        {{{shareCard}}}
        {{{categoriesCard}}}
    </div>
    <div class="profile__edit-container">
        <form class="profile__form">
            <dl class="form-group">
                <dt class="form-group__heading">
                    <h2 class="font-h2-medium">
                        Профиль
                    </h2>
                </dt>
                <dd class="form-group__input">
                    {{{profileInput}}}
                </dd>
            </dl>
            <dl class="form-group">
                <dt class="form-group__heading">
                    <h2 class="font-h2-medium">
                        Безопасность
                    </h2>
                </dt>
                <dd class="form-group__input">
                    {{{currentPasswordInput}}}
                    {{{newPasswordInput}}}
                    {{{repeatPasswordInput}}}
                </dd>
            </dl>
            <dl class="form-group">
                <dt class="form-group__heading">
                    <h2 class="font-h2-medium">
                        Бюджет
                    </h2>
                </dt>
                <dd class="form-group__input">
                    {{{budgetInput}}}
                </dd>
            </dl>
        </form>
        <div class="profile__avatar">
            <h2 class="font-h2-medium profile__avatar-heading">
                Вы вошли как
            </h2>
            <span class="font-base-text profile__avatar-subhead">
                {{login}}
            </span>
            {{{avatar}}}
        </div>
    </div>
</div>
