<div class="login-form">
    <form action="">
        <h1 class="">{{header}}</h1>
        <p>{{helperText}}</p>
        {{{userNameInput}}}
        {{{passwordInput}}}
        {{#if isSignup}}
            {{{passwordRepeatInput}}}
        {{/if}}
        {{{loginButton}}}
    </form>
</div>
