<form class="login-form" action="">
    <h1 class="font-h1-bold ">{{header}}</h1>
    <span class="font-base-text">{{helperText}}</span>
    <div id="login_input_container">
        {{{loginInput}}}
    </div>

    {{#if isSignup}}
        <div id="username_input_container">
            {{{userNameInput}}}
        </div>
    {{/if}}

    <div id="password_input_container">
        {{{passwordInput}}}
    </div>

    {{#if isSignup}}
        <div id="password_repeat_input_container">
            {{{passwordRepeatInput}}}
        </div>
    {{/if}}

    {{{loginButton}}}
</form>
