<div class="accounts">
    <div class="accounts__yours">
        <h3 class="font-h3-regular accounts__yours-header">Твои счета</h3>
        <div class="accounts__yours-list">
            {{#if accounts}}
            {{#each accounts}}
                <div class="accounts__account
                {{#if this.selected}}
                    accounts__account_selected
                {{/if}}
                " id="{{this.elementId}}">
                    <span class="font-base-text accounts__account-name">{{this.name}}</span>
                    <span class="font-base-text accounts__account-balance">{{this.balance}}</span>
                </div>
            {{/each}}
            {{/if}}
        </div>
    </div>
    <div class="accounts__configure">
        {{#if accountSelected}}
            <h3 class="font-h3-regular accounts__configure-header">Измените счет</h3>
            <div class="accounts__configure-account">
                <div class="accounts__configure-account-inputs">
                    {{{accountNameInput}}}
                    {{{accountBalanceInput}}}
                </div>
                <div class="accounts__configure-account-buttons">
                    <div>
                        {{{saveAccountButton}}}
                    </div>
                    <span>или</span>
                    <div>
                        {{{cancelAccountButton}}}
                    </div>
                    <div>
                        {{{deleteAccountButton}}}
                    </div>
                </div>
            </div>
        {{else}}
            <h3 class="font-h3-regular accounts__configure-header">Создайте счет</h3>
            <div class="accounts__create-account">
                <div class="accounts__configure-account-inputs">
                    {{{accountNameInput}}}
                    {{{accountBalanceInput}}}
                </div>
                <div>
                    {{{createAccountButton}}}
                </div>
            </div>
        {{/if}}
        
    </div>
</div>