<div class="button-card {{cardColor}}" id="{{id}}">
    <div class="button-card__icon-container">
        <span class="font-h3-regular button-card__counter">{{counter}}</span>
        <svg class="button-card__icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            {{{path}}}
        </svg>
    </div>
    <div class="button-card__text-container">
        {{#if description}}
            <span class="font-base-text button-card__description">{{description}}</span>
        {{/if}}
        <span class="font-h2-medium button-card__text">{{text}}</span>
    </div>
</div>
